<div class="list-group-item group-head">Model Parameters</div>
<div class="list-group-item">
<div class='row'>
    <div class = 'col-xs-12'>
        <div class="input-group">
            <span class="input-group-addon" style="width:200px">GrainSize(cm-1)</span>
            <input type="text" class="form-control" placeholder="grain size" target = 'grainSize' value = '<%= grainSize %>'>
        </div>
    </div>
    <div class = 'col-xs-12'>
        <div class="input-group">
            <span class="input-group-addon" style="width:200px">EnergyAboveTheTopHill(kT)</span>
            <input type="text" class="form-control" placeholder="It specifies the energy range to be spanned by the grains in excess of the highest energy stationary point." target = 'energyAboveTheTopHill' value = '<%= energyAboveTheTopHill %>'>
        </div>
    </div>
</div>
</div>