<div class="list-group-item group-head">Model Parameters</div>
<div class="list-group-item">
<div class='row'>
    <div class = 'col-xs-6'>
        <div class="input-group">
            <span class="input-group-addon">GrainSize(cm-1)</span>
            <input type="text" class="form-control" placeholder="grain size" target = 'grainSize' value = '<%= grainSize %>'>
        </div>
    </div>
    <div class = 'col-xs-6'>
        <div class="input-group">
            <span class="input-group-addon">Energy</span>
            <input type="text" class="form-control" placeholder="energy above the top hill" target = 'energyAboveTheTopHill' value = '<%= energyAboveTheTopHill %>'>
        </div>
    </div>
</div>
</div>