<div class = "list-group" id = "molecule-items">
    <div class="list-group-item group-head">
        <span>Molecule List</span>
        <button class = "btn btn-primary btn-sm pull-right" action = 'new-molecule'>
            Add Molecule
        </button>
    </div>
    <div class = "list-group-item" style = "display: none" id = "no-molecule-message">
        <h3>There is no molecule now!</h3>
        <p>You can click the new button to make one.</p>
    </div>
    <div class = "list-group-item clearfix no-padding" id = 'molecule-list-area'>
    </div>
</div>
<div class = "list-group" id = "molecule-property">
    
</div>