<div class = "list-group" id = "reaction-items">
    <div class="list-group-item group-head">
        <span>Reaction List</span>
        <button class = "btn btn-primary btn-sm pull-right" action = 'new-reaction'>
            Add Reaction
        </button>
    </div>
    <div class = "list-group-item" style = "display: none" id = "no-reaction-message">
        <h3>There is no reaction now!</h3>
        <p>You can click the new button to make one.</p>
    </div>
    <div class = "list-group-item clearfix no-padding" id = 'reaction-list-area'>
    </div>
</div>
<div class = "list-group" id = "reaction-property">
</div>